@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* select option {
  max-width: 100%;
  padding-block-start: 0px;
  padding-block-end: 0px;
  min-block-size: 0em;
  padding-inline: 0px;
  white-space: nowrap;
  --tw-scale-x:0;
  width: 50%;
} */
select#language {
  min-width: 100%;
}

select#language option {
  padding: 0;
  white-space: normal;
}